<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated shapelanguage -->
      <package
            uri="http://shapelanguage.com"
            class="shapelangauge.ShapelangaugePackage"
            genModel="shapelanguage.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SimpleUML -->
      <package
            uri="http://SimpleClass.net"
            class="SimpleClass.SimpleClassPackage"
            genModel="SimpleUML.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SimpleUML -->
      <package
            uri="http://PrimitiveTypes.net"
            class="PrimitiveTypes.PrimitiveTypesPackage"
            genModel="SimpleUML.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SimpleRDBMS -->
      <package
            uri="http://SimpleRDBMS.net"
            class="SimpleRDBMS.SimpleRDBMSPackage"
            genModel="SimpleRDBMS.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Families -->
      <package
            uri="http://families.com"
            class="families.FamiliesPackage"
            genModel="Families.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Persons -->
      <package
            uri="http://persons.com"
            class="persons.PersonsPackage"
            genModel="Persons.genmodel"/>
   </extension>

</plugin>
